<div class="card text-white bg-secondary mb-2">
  <div class="card-header">Add review</div>
  <div class="card-body">
    <ul *ngIf="dbErrors.length>0">
      <li *ngFor="let error of dbErrors" class="alert alert-danger">{{error}}</li>
    </ul>
    <form (submit)='addReviewFromService()'>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="aReview.title" required minlength="3" #title="ngModel">
        <p *ngIf="text.errors">The title of your review must be at least 3 characters long.</p>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-control" name="rating" name="rating" [(ngModel)]="aReview.rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="text">Review</label>
        <textarea class="form-control" name="text" cols="30" rows="3" [(ngModel)]="aReview.text" required minlength="3" #text="ngModel"></textarea>
        <p *ngIf="text.errors">The review content must be at least 3 characters long.</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-fixed">Add</button>
      </div>
    </form>
    <button class="btn btn-danger btn-fixed" (click)="cancelReview()">Cancel</button>
  </div>
</div>
