<div class="big-bg" [ngStyle]="{'background-image': 'url(' + image + ')'}">
  <nav class="navbar navbar-expand-lg navbar-dark nav-bar-override">
    <a class="navbar-brand">moodify</a>
  </nav>
  <!-- <app-header [location]="location" [image]="image"></app-header> -->
  <div class="color-bg"></div>

  <div class="container-fluid" sytle="z-index: 5;">
    <div class="row">
      <div class="col col-sm-2">
        <app-location [location]="location" [avatar]="avatar"></app-location>
      </div>
      <div class="col col-sm-6">
        <div class="row" class="track-list">
          <div class="col">
            <app-track [playlist]="playlist"></app-track>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="row" class="track-list">
          <div class="col">
            <app-chat-inbox></app-chat-inbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
