<div *ngIf='addReview' class="card text-white bg-secondary mb-2">
  <div class="card-header">Add review for {{aRestaurant.name}}</div>
  <div class="card-body">
    <ul *ngIf="dbErrors.length>0">
      <li *ngFor="let error of dbErrors" class="alert alert-danger">{{error}}</li>
    </ul>
    <h3>Review for {{aRestaurant.name}}</h3>
    <form (submit)='addReviewFromService()'>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="aReview.title" required minlength="3" #title="ngModel">
        <p *ngIf="title.errors">The title of your review must be at least 3 characters long.</p>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-control" name="rating" [(ngModel)]="aReview.rating" min="1" max="4" #rating="ngModel">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
        <p *ngIf="rating.errors">The rating must be between 1 and 5.</p>
      </div>
      <div class="form-group">
        <label for="text">Review</label>
        <textarea class="form-control" name="text" cols="30" rows="3" [(ngModel)]="aReview.text" required minlength="3" #text="ngModel"></textarea>
        <p *ngIf="text.errors">The review content must be at least 3 characters long.</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf='allRestaurants'>
  <div class="card mb-2" *ngFor='let r of allRestaurants'>
    <div class="card-header text-white bg-dark mb-3">{{r.name}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col col-sm-10">
          <h3 class="card-title"><a routerLink="/show/{{r._id}}">{{r.name}}</a> ({{(r.revcount)?r.totalstars/r.revcount:0 |  number:'1.1-5'}})</h3>
          <h5 class=" card-title">{{r.cuisine}}</h5>
          <p class="card-text">{{r.description}}</p>
        </div>
        <div class="col col-sm-2">
          <div class="form-group">
            <button class="btn btn-primary btn-fixed" (click)="getRestaurantFromService(r._id)">Review</button>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-fixed" routerLink="/show/{{r._id}}">Read reviews</button>
          </div>
          <div class="form-group">
            <button class="btn btn-warning btn-fixed" routerLink="/edit/{{r._id}}">Edit</button>
          </div>
          <div class="form-group" *ngIf="checkSeconds(r.createdAt)">
            <button class="btn btn-danger btn-fixed" (click)="deleteBusinessFromService(r._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
